body {
  font-family: Arail, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(237, 237, 237);
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

h1 {
  text-align: center;
  color: #121212;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 15px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button.edit-button {
  background-color: #007bff;
}

button.edit-button:hover {
  background-color: #0056b3;
}

button.delete-button {
  background-color: #ff3333;
  color: white;
}

button.delete-button:hover {
  background-color: #cc0000;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  border-radius: 1px solid #ccc;
}
